[project]
name = "rag-app"
version = "0.1.0"
description = "RAG Application"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "streamlit",
    "langchain",
    "langchain-openai",
    "faiss-cpu",
    "PyGithub",

]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[tool.hatch.build.targets.wheel]
packages = []
